<tr>
<td><%= if @sort == "last"
           a = attendee.name.split
           l = a.slice!(-1)
           (l + ", ") + a.join(" ")
        else
          attendee.name
        end
     %></td>
<td><%= attendee.tshirt %></td>
<td><%= attendee.type %></td>
<td><%= attendee.date.strftime("%m-%d-%Y") %></td>

</tr>
